.about {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* scroll-snap-align: start; */
}

.about_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.about_bg_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
}

.about_who,
.about_partner {
  width: 80%;
  height: fit-content;
  border-radius: 10px;
  padding: 1%;
  padding-top: 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.7);
  margin-top: 8%;
  background: #fff;
  z-index: 1;
}

.about_who h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  /* color: var(--ars-secondary-color); */
}

.about_who p {
  text-align: justify;
  /* color: var(--ars-primary-color); */
}

.about_who h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
  margin-top: 2.5%;
  /* color: var(--ars-secondary-color); */
}

.about_partner {
  padding: 1%;
  margin-top: 2%;
  height: stretch;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_partner h1 {
  flex-basis: 40%;
  font-weight: 500;
}

.partner_image {
  flex-basis: 40%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.partner_image div {
  position: relative;
  height: 100%;
  width: 50%;
  margin-right: 37%;
  margin-right: 13%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.partner_image div:hover {
  transform: scale(1.1);
}

.line {
  background-color: #000;
  width: 2px;
  height: 100%;
}

@media(max-width:768px){

  .about_who {
height:40%;  }

  .about_who h1{
    font-size:20px;
  }
  .about_who h3{
    font-size:20px;
  }
  .about_who p{
    font-size:12px;
  }

  .about_partner{
    height:40%;
  }
  .about_partner h1{
    font-size: 20px;
  }
  .line{
    height:90%;
  }
  .partner_image div{
    width:60%;
   
  }
}

@media(max-width:632px){

  .about_who {
height:40%;  }

  .about_who h1{
    font-size:18px;
  }
  .about_who h3{
    font-size:18px;
  }
  .about_who p{
    font-size:9px;
  }

  .about_partner{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:40%;
  }
  .about_partner h1{
    padding-top:3rem;
    font-size: 22px;
  }
  .line{
    width: 400px; /* Adjust this to make the line as long as you want */
    height: 2px; /* This keeps the line thin */
  }
  .partner_image div{
    width:75%;
    align-items:center;
    margin-top:25px;
    height:100%;
    
  }
}

@media(max-width:526px){
  .line{
    width: 330px; /* Adjust this to make the line as long as you want */
    height: 2px; /* This keeps the line thin */
    margin-bottom: 0.5rem;
  } 

}



@media(max-width:461px){

  .about_who {
height:40%;  }

  .about_who h1{
    font-size:18px;
  }
  .about_who h3{
    font-size:18px;
  }
  .about_who p{
    font-size:9px;
  }

  .about_partner{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:40%;
  }
  .about_partner h1{
    padding-top:3.5rem;
    font-size: 18px;
  }
  .line{
    width: 270px; /* Adjust this to make the line as long as you want */
    height: 2px; /* This keeps the line thin */
    margin-bottom: 0.5rem;
  }
  .partner_image div{
    width:75%;
    align-items:center;
    margin-top:25px;
    height:105%;
    
  }
}

@media(max-width:376px){

  .about_who {
height:40%;  }

  .about_who h1{
    font-size:18px;
  }
  .about_who h3{
    font-size:18px;
  }
  .about_who p{
    font-size:9px;
  }

  .about_partner{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:40%;
  }
  .about_partner h1{
    padding-top:3.5rem;
    font-size: 15px;
  }
  .line{
    width: 230px; /* Adjust this to make the line as long as you want */
    height: 2px; /* This keeps the line thin */
  }
  .partner_image div{
    width:75%;
    align-items:center;
    margin-top:25px;
    height:90%;
    
  }

}
@media(max-width:321px){

  .about_who {
    
height:40%;  }

  .about_who h1{
    font-size:17px;
  }
  .about_who h3{
    font-size:17px;
  }
  .about_who p{
    font-size:8px;
  }

  .about_partner{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:40%;
  }
  .about_partner h1{
    padding-top:3.5rem;
    font-size: 15px;
  }
  .line{
    width: 200px; /* Adjust this to make the line as long as you want */
    height: 2px; /* This keeps the line thin */
  }
  .partner_image div{
    width:75%;
    align-items:center;
    margin-top:25px;
    height:80%;
    
  }
}