/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  /* backdrop-filter: blur(6px); */
}

/* Completely invisible when scrolled past 200px */
.invisible_navbar {
  opacity: 0; /* Completely invisible */
  transition: opacity 0.5s ease-in-out;
}

/* Show the navbar fully on hover */
.invisible_navbar:hover {
  opacity: 1;
}

/* Navbar Logo */
.nav_logo {
  width: 150px;
  height: 60px;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav_logo.show_logo {
  opacity: 1;
}

/* Navbar Links */
.nav_links {
  display: flex;
  gap: 2rem;
}

.nav_links a {
  display:flex;
  align-items:center;
  padding: 40px 0 20px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav_links a:hover {
  color: var(--ars-secondary-color);
}

.menuIcon {
  display: none;
}

.menuIcon .active {
  /* Add styles for active state, e.g., change color */
  color: black; /* Example color */
}


/* Media Query for Small Screens (Mobile) */
@media (max-width: 768px) {
  .menuIcon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: #000;
    z-index:1;

  }

  .nav_logo {
    width: 80px;
    height: 55px;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }


  /* Hide nav links by default */
  .nav_links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9); /* Adjust background color */
    width: 100%;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease;
    backdrop-filter: blur(2px);

  }

  /* Show the menu when open */
  .show_menu {
    display: flex !important;
    opacity: 1;
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0);
  
    /* Fullscreen styling */
    position: fixed;
    top: 0;
    right: 0; /* Align to the right */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    align-items: center; /* Keep it vertically centered */
    justify-content: center; /* Align content to the right */
  }

  .nav_links a {
    margin: 0;
    padding: 10px 20px;
    color: black; 
    
  }

  .nav_links a:hover {
    color: var(--ars-secondary-color);
  }
}
